servers:
  - host: host.example.com
    port: 1234
    ping_timeout: 10
    channels:
      - name: Test1
        action: "fail2ban-client set %jail% %action% %ip%"
        filter:
          - key: action
            values:
              - banip
              - unbanip
          - key: jail
            values:
              - sshd
log_level: 3
log_file: /var/log/fail2ban-clasterd.log
pid_file: /var/run/fail2ban-clusterd.pid
